*{
    margin:0;
    padding:0;
}


body{
    background-color: aliceblue;
    
    justify-content: center;
}

header{
    display: flex;
    height: 80px;;
    padding: 20px;
    justify-content: center;
    background-color: wheat;
}

#cabecera{
 
    justify-content: center;
    list-style: none;
    gap:4rem;
}

nav a{
   font-weight: 600px;
}

nav a:hover{
background-color:white ;
}

section h3{
    color:red;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5em;
   text-align:center;
}
section p{
    font-size: 2em;
}
nav div{
    float:right;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    font-size:2em

}

img{
    display: flex;
    height:auto;
    width:auto;
    padding:10px;
    justify-items: center;
}

h2{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:3.5em;
    color: rgb(185, 30, 30);
    align-content: space-around;
    text-align: center;
}

article ul{
    float:right;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    width: auto;
    font-size: 2.5em;
    list-style: none;
    margin:0;

}
.imagenes h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las imágenes */
    gap: 10px; /* Espacio entre las imágenes */
}

        #imagenes img{
    width: 100%; 
    max-width: 200px; 
    height: auto; 
    border-radius: 8px; 
}

#contacto {
    padding: 30px;
    display: flex;
    justify-content: center;
}

#contactanos {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

#contactanos p {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 1em;
    margin: 10px 0 5px;
    display: block;

}

@media screen and (max-width: 768px) {
    img {
        width: 80%; /* Reduce el tamaño de la imagen en pantallas móviles */
        margin: 0 auto; /* Centra la imagen en la pantalla */
    }
}